In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
data_train = pd.read_csv("dataset/train.csv")
data_test = pd.read_csv("dataset/test.csv")
print(data_train.head())
data_test.head()

         Product_id  Stall_no instock_date  Market_Category Customer_name  \
0  BRAE2NF6JA5GUEXG      37.0      36:12.0                2      Lillyann
1  TUNE8SFB6RJN2HSD      38.0      19:13.0               24         Klynn
2  BRAEAR7WZPQGPBZU       9.0      25:22.0              447         Ridge
3  WATDZ2ZQ8JPDHCTJ      50.0      53:01.0               23         Abran
4  JWSEBUKYQPMBZ3RK       7.0      58:53.0               63        Dustyn

  Loyalty_customer Product_Category  Grade  Demand  Discount_avail  charges_1  \
0              Yes          Fashion      1      68             0.0      376.0
1              Yes          Fashion      0      51             0.0      397.0
2              Yes       Child_care      0      10             0.0      250.0
3              Yes      Educational      2      48             0.0      144.0
4              Yes           Repair      1      35             1.0      211.0

   charges_2 (%)  Minimum_price  Maximum_price  Selling_Price
0           11.0         2983.0         4713.0    4185.947700
1           12.0         7495.0        10352.0    9271.490256
2            9.0         5752.0         7309.0    6785.701362
3           13.0         5090.0        20814.0   13028.917820
4            4.0         2430.0         9261.0     906.553935

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
0,SCHE4YSTDVPVZVXW,39.0,2016-01-13 07:45:08.000,205,Ivanka,No,Fashion,0,90,0,380.0,16.0,2576.0,3340
1,ACCEGCATKHNRXUHW,49.0,2015-08-23 20:37:05.000,3,Isaak,Yes,Fashion,0,87,0,393.0,16.0,1202.0,1955
2,NKCE6GJ5XVJDXNNZ,1.0,2015-11-14 18:12:39.000,183,Analiese,No,Technology,2,55,0,493.0,9.0,7175.0,15715
3,NKCEB8BK3ZXDHDHM,8.0,2015-11-21 04:56:19.000,358,Rusty,Yes,Child_care,3,86,0,303.0,16.0,5404.0,13078
4,TOPEFDXSAHRNPF94,33.0,2015-05-06 15:09:46.000,167,Eloise,No,Technology,0,27,0,567.0,16.0,4069.0,6244

In [3]:
print(len(data_train.columns))
print(len(data_test.columns))
print(data_train.shape)
print(data_test.shape)

15
14
(6368, 15)
(3430, 14)

In [4]:
print(len(data_train[data_train["Selling_Price"]<0]))
print(data_train.describe())
data_train.info()

14
          Stall_no  Market_Category        Grade       Demand  Discount_avail  \
count  6363.000000      6368.000000  6368.000000  6368.000000     6330.000000
mean     25.309445       199.340609     0.643687    50.921168        0.140442
std      14.328980       170.275570     1.025092    29.091922        0.347473
min       1.000000         0.000000     0.000000     1.000000        0.000000
25%      13.000000        55.000000     0.000000    26.000000        0.000000
50%      25.000000       132.000000     0.000000    51.000000        0.000000
75%      37.000000       403.000000     2.000000    76.000000        0.000000
max      50.000000       471.000000     3.000000   100.000000        1.000000

         charges_1  charges_2 (%)  Minimum_price  Maximum_price  Selling_Price
count  6170.000000    6163.000000    6330.000000    6025.000000    6327.000000
mean    264.514100      10.146195    3531.349763    6432.545892    4563.242592
std     124.483056       4.318339    2194.729604    3716.177364    2979.102408
min     100.000000       1.000000       1.000000     404.000000   -6062.470000
25%     163.000000       7.000000    1879.250000    3918.000000    2450.005280
50%     252.000000      10.000000    3157.500000    5634.000000    4210.384640
75%     314.000000      14.000000    4697.000000    8126.000000    6167.643252
max     649.000000      17.000000   17580.000000   58812.000000   22638.325940
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 15 columns):
Product_id          6368 non-null object
Stall_no            6363 non-null float64
instock_date        6368 non-null object
Market_Category     6368 non-null int64
Customer_name       6157 non-null object
Loyalty_customer    6368 non-null object
Product_Category    6368 non-null object
Grade               6368 non-null int64
Demand              6368 non-null int64
Discount_avail      6330 non-null float64
charges_1           6170 non-null float64
charges_2 (%)       6163 non-null float64
Minimum_price       6330 non-null float64
Maximum_price       6025 non-null float64
Selling_Price       6327 non-null float64
dtypes: float64(7), int64(3), object(5)
memory usage: 746.4+ KB

In [5]:
print(data_test.info())
data_test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 14 columns):
Product_id          3430 non-null object
Stall_no            3429 non-null float64
instock_date        3430 non-null object
Market_Category     3430 non-null int64
Customer_name       3377 non-null object
Loyalty_customer    3430 non-null object
Product_Category    3430 non-null object
Grade               3430 non-null int64
Demand              3430 non-null int64
Discount_avail      3430 non-null int64
charges_1           3394 non-null float64
charges_2 (%)       3425 non-null float64
Minimum_price       3416 non-null float64
Maximum_price       3430 non-null int64
dtypes: float64(4), int64(5), object(5)
memory usage: 375.3+ KB
None

,Stall_no,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price
count,3429.000000,3430.000000,3430.000000,3430.000000,3430.000000,3394.000000,3425.000000,3416.000000,3430.000000
mean,25.633421,196.693878,0.667638,49.917493,0.146356,265.484973,10.436204,3444.206089,6234.062391
std,14.389747,168.832500,1.045914,28.587214,0.353514,125.325455,4.232382,2178.418557,3575.968650
min,1.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,124.000000,163.000000
25%,13.000000,55.000000,0.000000,26.000000,0.000000,162.000000,7.000000,1834.000000,3819.000000
50%,26.000000,124.000000,0.000000,50.000000,0.000000,252.000000,11.000000,3060.500000,5431.000000
75%,38.000000,358.000000,2.000000,74.000000,0.000000,319.000000,14.000000,4606.500000,7796.500000
max,50.000000,471.000000,3.000000,100.000000,1.000000,648.000000,17.000000,17182.000000,27954.000000

In [6]:
data_train = data_train.fillna(np.nan)
data_test = data_test.fillna(np.nan)

In [7]:
del data_train["Customer_name"]
del data_test["Customer_name"]
data_train.columns

Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Loyalty_customer', 'Product_Category', 'Grade', 'Demand',
       'Discount_avail', 'charges_1', 'charges_2 (%)', 'Minimum_price',
       'Maximum_price', 'Selling_Price'],
      dtype='object')

In [8]:
data_train.Stall_no.fillna(data_train["Stall_no"].mode()[0],inplace = True)
data_test.Stall_no.fillna(data_test["Stall_no"].mode()[0],inplace = True)
data_train["Discount_avail"].fillna(data_train["Discount_avail"].mode()[0],inplace = True)
data_test["Discount_avail"].fillna(data_test["Discount_avail"].mode()[0],inplace = True)
data_train.info(),data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6368 entries, 0 to 6367
Data columns (total 14 columns):
Product_id          6368 non-null object
Stall_no            6368 non-null float64
instock_date        6368 non-null object
Market_Category     6368 non-null int64
Loyalty_customer    6368 non-null object
Product_Category    6368 non-null object
Grade               6368 non-null int64
Demand              6368 non-null int64
Discount_avail      6368 non-null float64
charges_1           6170 non-null float64
charges_2 (%)       6163 non-null float64
Minimum_price       6330 non-null float64
Maximum_price       6025 non-null float64
Selling_Price       6327 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 696.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 13 columns):
Product_id          3430 non-null object
Stall_no            3430 non-null float64
instock_date        3430 non-null object
Market_Category     3430 non-null int64
Loyalty_customer    3430 non-null object
Product_Category    3430 non-null object
Grade               3430 non-null int64
Demand              3430 non-null int64
Discount_avail      3430 non-null int64
charges_1           3394 non-null float64
charges_2 (%)       3425 non-null float64
Minimum_price       3416 non-null float64
Maximum_price       3430 non-null int64
dtypes: float64(4), int64(5), object(4)
memory usage: 348.5+ KB

(None, None)

In [9]:
#data_train["Selling_Price"] = data_train["Selling_Price"].apply(abs)
#data_train[data_train["Selling_Price"]<0]["Selling_Price"]
data_train.drop(data_train[data_train["Selling_Price"]<0].index,inplace = True)
data_train = data_train.reset_index(drop = True)
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 14 columns):
Product_id          6354 non-null object
Stall_no            6354 non-null float64
instock_date        6354 non-null object
Market_Category     6354 non-null int64
Loyalty_customer    6354 non-null object
Product_Category    6354 non-null object
Grade               6354 non-null int64
Demand              6354 non-null int64
Discount_avail      6354 non-null float64
charges_1           6157 non-null float64
charges_2 (%)       6149 non-null float64
Minimum_price       6316 non-null float64
Maximum_price       6012 non-null float64
Selling_Price       6313 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 695.1+ KB

In [10]:
len(data_train.Product_Category.unique())

10

In [11]:
data_train["charges_1"] = data_train["charges_1"].fillna(data_train.groupby('Product_Category')['charges_1'].transform('median'))
data_test['charges_1'] = data_test['charges_1'].fillna(data_test.groupby('Product_Category')['charges_1'].transform('median'))
print(data_train.info())
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 14 columns):
Product_id          6354 non-null object
Stall_no            6354 non-null float64
instock_date        6354 non-null object
Market_Category     6354 non-null int64
Loyalty_customer    6354 non-null object
Product_Category    6354 non-null object
Grade               6354 non-null int64
Demand              6354 non-null int64
Discount_avail      6354 non-null float64
charges_1           6354 non-null float64
charges_2 (%)       6149 non-null float64
Minimum_price       6316 non-null float64
Maximum_price       6012 non-null float64
Selling_Price       6313 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 695.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 13 columns):
Product_id          3430 non-null object
Stall_no            3430 non-null float64
instock_date        3430 non-null object
Market_Category     3430 non-null int64
Loyalty_customer    3430 non-null object
Product_Category    3430 non-null object
Grade               3430 non-null int64
Demand              3430 non-null int64
Discount_avail      3430 non-null int64
charges_1           3430 non-null float64
charges_2 (%)       3425 non-null float64
Minimum_price       3416 non-null float64
Maximum_price       3430 non-null int64
dtypes: float64(4), int64(5), object(4)
memory usage: 348.5+ KB
None

In [12]:
data_train["charges_2 (%)"] = data_train["charges_2 (%)"].fillna(data_train.groupby('Product_Category')['charges_2 (%)'].transform('median'))
data_test['charges_2 (%)'] = data_test['charges_2 (%)'].fillna(data_test.groupby('Product_Category')['charges_2 (%)'].transform('median'))
data_train['Minimum_price'] = data_train['Minimum_price'].fillna(data_train.groupby('Product_Category')['Minimum_price'].transform('mean'))
data_test['Minimum_price'] = data_test['Minimum_price'].fillna(data_test.groupby('Product_Category')['Minimum_price'].transform('mean'))
data_train['Maximum_price'] = data_train['Maximum_price'].fillna(data_train.groupby('Product_Category')['Maximum_price'].transform('mean'))
data_test['Maximum_price'] = data_test['Maximum_price'].fillna(data_test.groupby('Product_Category')['Maximum_price'].transform('mean'))
print(data_train.info())
print(data_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 14 columns):
Product_id          6354 non-null object
Stall_no            6354 non-null float64
instock_date        6354 non-null object
Market_Category     6354 non-null int64
Loyalty_customer    6354 non-null object
Product_Category    6354 non-null object
Grade               6354 non-null int64
Demand              6354 non-null int64
Discount_avail      6354 non-null float64
charges_1           6354 non-null float64
charges_2 (%)       6354 non-null float64
Minimum_price       6354 non-null float64
Maximum_price       6354 non-null float64
Selling_Price       6313 non-null float64
dtypes: float64(7), int64(3), object(4)
memory usage: 695.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 13 columns):
Product_id          3430 non-null object
Stall_no            3430 non-null float64
instock_date        3430 non-null object
Market_Category     3430 non-null int64
Loyalty_customer    3430 non-null object
Product_Category    3430 non-null object
Grade               3430 non-null int64
Demand              3430 non-null int64
Discount_avail      3430 non-null int64
charges_1           3430 non-null float64
charges_2 (%)       3430 non-null float64
Minimum_price       3430 non-null float64
Maximum_price       3430 non-null int64
dtypes: float64(4), int64(5), object(4)
memory usage: 348.5+ KB
None

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

ohe = OneHotEncoder()
le = LabelEncoder()

In [14]:
data_train['Loyalty_customer'] = le.fit_transform(data_train['Loyalty_customer'])
data_test['Loyalty_customer'] = le.transform(data_test['Loyalty_customer'])

In [15]:
X_train = ohe.fit_transform(data_train['Product_Category'].values.reshape(-1,1)).toarray()
dfohe = pd.DataFrame(X_train,columns = ['Product_Category_' + str(int(i)) for i in range(10)])
X_test = ohe.transform(data_test['Product_Category'].values.reshape(-1,1)).toarray()
dfohe1 = pd.DataFrame(X_test,columns = ['Product_Category_' + str(int(i)) for i in range(10)])

In [16]:
df_train = data_train.copy()
df_test = data_test.copy()

In [17]:
for i in range(9,-1,-1):
    df_train.insert(6,'Product_Category_' + str(int(i)),dfohe['Product_Category_' + str(int(i))],True)
    df_test.insert(6,'Product_Category_' + str(int(i)),dfohe1['Product_Category_' + str(int(i))],True)
    
df_train.shape,df_test.shape

((6354, 24), (3430, 23))

In [18]:
df_train['Selling_Price'] = df_train['Selling_Price'].fillna(df_train.groupby('Product_Category')['Selling_Price'].transform('median'))
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 24 columns):
Product_id            6354 non-null object
Stall_no              6354 non-null float64
instock_date          6354 non-null object
Market_Category       6354 non-null int64
Loyalty_customer      6354 non-null int32
Product_Category      6354 non-null object
Product_Category_0    6354 non-null float64
Product_Category_1    6354 non-null float64
Product_Category_2    6354 non-null float64
Product_Category_3    6354 non-null float64
Product_Category_4    6354 non-null float64
Product_Category_5    6354 non-null float64
Product_Category_6    6354 non-null float64
Product_Category_7    6354 non-null float64
Product_Category_8    6354 non-null float64
Product_Category_9    6354 non-null float64
Grade                 6354 non-null int64
Demand                6354 non-null int64
Discount_avail        6354 non-null float64
charges_1             6354 non-null float64
charges_2 (%)         6354 non-null float64
Minimum_price         6354 non-null float64
Maximum_price         6354 non-null float64
Selling_Price         6354 non-null float64
dtypes: float64(17), int32(1), int64(3), object(3)
memory usage: 1.1+ MB

In [19]:
del df_train['Product_id']
del df_train['instock_date']
del df_train['Product_Category']
df_train.columns

Index(['Stall_no', 'Market_Category', 'Loyalty_customer', 'Product_Category_0',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Product_Category_4', 'Product_Category_5', 'Product_Category_6',
       'Product_Category_7', 'Product_Category_8', 'Product_Category_9',
       'Grade', 'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [20]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [21]:
X = df_train[['Stall_no', 'Market_Category', 'Loyalty_customer', 'Product_Category_0',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Product_Category_4', 'Product_Category_5', 'Product_Category_6',
       'Product_Category_7', 'Product_Category_8', 'Product_Category_9',
       'Grade', 'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price']]
Y = df_train["Selling_Price"]

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0)
X_train.shape,X_test.shape

((4765, 20), (1589, 20))

In [23]:
clf1 = LinearRegression()
print(clf1)
clf1.fit(X_train,Y_train)
clf1.score(X_test,Y_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

0.9125156125954754

In [24]:
clf2 = XGBRegressor()
print(clf2)
clf2.fit(X_train,Y_train)
clf2.score(X_test,Y_test)

XGBRegressor(base_score=None, booster=None, colsample_bylevel=None,
             colsample_bynode=None, colsample_bytree=None, gamma=None,
             gpu_id=None, importance_type='gain', interaction_constraints=None,
             learning_rate=None, max_delta_step=None, max_depth=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             objective='reg:squarederror', random_state=None, reg_alpha=None,
             reg_lambda=None, scale_pos_weight=None, subsample=None,
             tree_method=None, validate_parameters=False, verbosity=None)

0.9778964521117931

In [25]:
clf3 = RandomForestRegressor()
print(clf3)
clf3.fit(X_train,Y_train)
clf3.score(X_test,Y_test)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators='warn',
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9770672588836412

In [26]:
clf4 = KNeighborsRegressor()
print(clf4)
clf4.fit(X_train,Y_train)
clf4.score(X_test,Y_test)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

0.609302605693603

In [27]:
clf5 = DecisionTreeRegressor(max_depth=7)
print(clf5)
clf5.fit(X_train,Y_train)
clf5.score(X_test,Y_test)

DecisionTreeRegressor(criterion='mse', max_depth=7, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

0.9641405813955484

In [28]:
del df_test['Product_id']
del df_test['instock_date']
del df_test['Product_Category']
df_train.columns

Index(['Stall_no', 'Market_Category', 'Loyalty_customer', 'Product_Category_0',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Product_Category_4', 'Product_Category_5', 'Product_Category_6',
       'Product_Category_7', 'Product_Category_8', 'Product_Category_9',
       'Grade', 'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [29]:
Y_pred = clf3.predict(df_test)
print(Y_pred)

[ 3221.9416405  1956.22559   12079.560753  ...  6659.7456581  3528.2893745
  1027.6429006]

In [30]:
Y_pred = clf2.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_xgboost_median.csv")

In [31]:
Y_pred = clf3.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_rf_median.csv")

In [32]:
Y_pred = clf5.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_dt_median.csv")

In [33]:
from sklearn.model_selection import KFold,cross_val_score

k = 6
kf = KFold(n_splits = k,random_state = 0)
clf6 = XGBRegressor()
res = cross_val_score(clf6,X,Y,cv = kf)
res.mean()

0.9780024859149358

In [34]:
clf7 = RandomForestRegressor()
res = cross_val_score(clf7,X,Y,cv = kf)
res.mean()

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9763036184767654

In [35]:
clf8 = LinearRegression()
res = cross_val_score(clf8,X,Y,cv = kf)
res.mean()

0.8988888493351667

In [36]:
df_test.columns

Index(['Stall_no', 'Market_Category', 'Loyalty_customer', 'Product_Category_0',
       'Product_Category_1', 'Product_Category_2', 'Product_Category_3',
       'Product_Category_4', 'Product_Category_5', 'Product_Category_6',
       'Product_Category_7', 'Product_Category_8', 'Product_Category_9',
       'Grade', 'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price'],
      dtype='object')

In [37]:
clf6.fit(X_train,Y_train)
Y_pred = clf6.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_xgboost_cv.csv")

In [38]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import VotingRegressor

In [39]:
xgb = XGBRegressor()
rfr = RandomForestRegressor()
dt = DecisionTreeRegressor()
ereg = VotingRegressor(estimators=[('xg',xgb),('rfr',rfr)],weights = [4,3])
ereg.fit(X_train,Y_train)
ereg.score(X_test,Y_test)

0.9802876211222635

In [40]:
Y_pred = ereg.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_ereg.csv")

In [41]:
res = cross_val_score(ereg,X,Y,cv = kf)
res.mean()

0.9793952507330329

In [42]:
ereg.fit(X_train,Y_train)
ereg.score(X_test,Y_test)

0.9802369173620499

In [43]:
df_train.insert(1,'instock_date',data_train['instock_date'])
df_test.insert(1,'instock_date',data_test['instock_date'])
df_train.columns,df_test.columns

(Index(['Stall_no', 'instock_date', 'Market_Category', 'Loyalty_customer',
        'Product_Category_0', 'Product_Category_1', 'Product_Category_2',
        'Product_Category_3', 'Product_Category_4', 'Product_Category_5',
        'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
        'Product_Category_9', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
        'charges_2 (%)', 'Minimum_price', 'Maximum_price', 'Selling_Price'],
       dtype='object'),
 Index(['Stall_no', 'instock_date', 'Market_Category', 'Loyalty_customer',
        'Product_Category_0', 'Product_Category_1', 'Product_Category_2',
        'Product_Category_3', 'Product_Category_4', 'Product_Category_5',
        'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
        'Product_Category_9', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
        'charges_2 (%)', 'Minimum_price', 'Maximum_price'],
       dtype='object'))

In [44]:
from datetime import datetime
end_date = datetime.today()

In [45]:
df_train['instock_date'] = pd.to_datetime(df_train['instock_date'], errors='coerce', format= '%M:%S.0')
df_test['instock_date'] = pd.to_datetime(df_test['instock_date'], errors='coerce', format= '%y-%m-%d %H:%M:%S.0')
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 22 columns):
Stall_no              6354 non-null float64
instock_date          6354 non-null datetime64[ns]
Market_Category       6354 non-null int64
Loyalty_customer      6354 non-null int32
Product_Category_0    6354 non-null float64
Product_Category_1    6354 non-null float64
Product_Category_2    6354 non-null float64
Product_Category_3    6354 non-null float64
Product_Category_4    6354 non-null float64
Product_Category_5    6354 non-null float64
Product_Category_6    6354 non-null float64
Product_Category_7    6354 non-null float64
Product_Category_8    6354 non-null float64
Product_Category_9    6354 non-null float64
Grade                 6354 non-null int64
Demand                6354 non-null int64
Discount_avail        6354 non-null float64
charges_1             6354 non-null float64
charges_2 (%)         6354 non-null float64
Minimum_price         6354 non-null float64
Maximum_price         6354 non-null float64
Selling_Price         6354 non-null float64
dtypes: datetime64[ns](1), float64(17), int32(1), int64(3)
memory usage: 1.0 MB

In [46]:
df_train['instock_date_min'] = df_train['instock_date'].dt.minute
df_train['instock_date_sec'] = df_train['instock_date'].dt.second
df_test['instock_date_min'] = df_test['instock_date'].dt.minute
df_test['instock_date_sec'] = df_test['instock_date'].dt.second
df_train['instock_date_min'].head(),df_train['instock_date_sec'].head()

(0    36
 1    19
 2    25
 3    53
 4    58
 Name: instock_date_min, dtype: int64, 0    12
 1    13
 2    22
 3     1
 4    53
 Name: instock_date_sec, dtype: int64)

In [47]:
df_train.columns,df_test.columns

(Index(['Stall_no', 'instock_date', 'Market_Category', 'Loyalty_customer',
        'Product_Category_0', 'Product_Category_1', 'Product_Category_2',
        'Product_Category_3', 'Product_Category_4', 'Product_Category_5',
        'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
        'Product_Category_9', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
        'charges_2 (%)', 'Minimum_price', 'Maximum_price', 'Selling_Price',
        'instock_date_min', 'instock_date_sec'],
       dtype='object'),
 Index(['Stall_no', 'instock_date', 'Market_Category', 'Loyalty_customer',
        'Product_Category_0', 'Product_Category_1', 'Product_Category_2',
        'Product_Category_3', 'Product_Category_4', 'Product_Category_5',
        'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
        'Product_Category_9', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
        'charges_2 (%)', 'Minimum_price', 'Maximum_price', 'instock_date_min',
        'instock_date_sec'],
       dtype='object'))

In [48]:
X = df_train[['Stall_no','Market_Category', 'Loyalty_customer',
        'Product_Category_0', 'Product_Category_1', 'Product_Category_2',
        'Product_Category_3', 'Product_Category_4', 'Product_Category_5',
        'Product_Category_6', 'Product_Category_7', 'Product_Category_8',
        'Product_Category_9', 'Grade', 'Demand', 'Discount_avail', 'charges_1',
        'charges_2 (%)', 'Minimum_price', 'Maximum_price',
        'instock_date_min', 'instock_date_sec']]
Y = df_train['Selling_Price']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6354 entries, 0 to 6353
Data columns (total 22 columns):
Stall_no              6354 non-null float64
Market_Category       6354 non-null int64
Loyalty_customer      6354 non-null int32
Product_Category_0    6354 non-null float64
Product_Category_1    6354 non-null float64
Product_Category_2    6354 non-null float64
Product_Category_3    6354 non-null float64
Product_Category_4    6354 non-null float64
Product_Category_5    6354 non-null float64
Product_Category_6    6354 non-null float64
Product_Category_7    6354 non-null float64
Product_Category_8    6354 non-null float64
Product_Category_9    6354 non-null float64
Grade                 6354 non-null int64
Demand                6354 non-null int64
Discount_avail        6354 non-null float64
charges_1             6354 non-null float64
charges_2 (%)         6354 non-null float64
Minimum_price         6354 non-null float64
Maximum_price         6354 non-null float64
instock_date_min      6354 non-null int64
instock_date_sec      6354 non-null int64
dtypes: float64(16), int32(1), int64(5)
memory usage: 1.0 MB

In [49]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state = 0)
X_train.shape,X_test.shape

((4765, 22), (1589, 22))

In [50]:
clf2.fit(X_train,Y_train)
clf2.score(X_test,Y_test)

0.9771105604284406

In [51]:
clf3.fit(X_train,Y_train)
clf3.score(X_test,Y_test)

0.9778270718015561

In [52]:
clf5.fit(X_train,Y_train)
clf5.score(X_train,Y_train)

0.9761790084967605

In [53]:
k = 6
kf = KFold(n_splits = k,random_state = 0)
clf6 = XGBRegressor()
res = cross_val_score(clf6,X,Y,cv = kf)
res.mean()

0.9776429427908568

In [54]:
rf = RandomForestRegressor()
res = cross_val_score(rf,X,Y,cv=kf)
res.mean()

0.9758143170217202

In [62]:
xgb = XGBRegressor()
rfr = RandomForestRegressor()
dt = DecisionTreeRegressor()
ereg = VotingRegressor(estimators=[('xg',xgb),('rfr',rfr)],weights = [3,1])
#ereg.fit(X_train,Y_train)
#ereg.score(X_test,Y_test)

In [63]:
res = cross_val_score(ereg,X,Y,cv=kf)
res.mean()

0.9788937722388819

In [57]:
del df_test['instock_date']

In [64]:
ereg.fit(X_train,Y_train)
Y_pred = ereg.predict(df_test)
df = pd.DataFrame(Y_pred,columns = ['Selling_Price'])
df.insert(0,'Product_id',data_test['Product_id'],False)
df.set_index('Product_id')
df.to_csv("predictions_ereg_2.csv")

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [65]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3430 entries, 0 to 3429
Data columns (total 22 columns):
Stall_no              3430 non-null float64
Market_Category       3430 non-null int64
Loyalty_customer      3430 non-null int32
Product_Category_0    3430 non-null float64
Product_Category_1    3430 non-null float64
Product_Category_2    3430 non-null float64
Product_Category_3    3430 non-null float64
Product_Category_4    3430 non-null float64
Product_Category_5    3430 non-null float64
Product_Category_6    3430 non-null float64
Product_Category_7    3430 non-null float64
Product_Category_8    3430 non-null float64
Product_Category_9    3430 non-null float64
Grade                 3430 non-null int64
Demand                3430 non-null int64
Discount_avail        3430 non-null int64
charges_1             3430 non-null float64
charges_2 (%)         3430 non-null float64
Minimum_price         3430 non-null float64
Maximum_price         3430 non-null int64
instock_date_min      0 non-null float64
instock_date_sec      0 non-null float64
dtypes: float64(16), int32(1), int64(5)
memory usage: 576.3 KB